/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 
/*------------------------------------
	
	General stuff
	
------------------------------------*/

html {
	color: rgba(0,0,0,0.7);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.3;
}

nav ul a,
nav .brand-logo {
  color: #777;
}

p {
	line-height: 2em;
}

.sidenav-trigger {
	color: #26a69a;
}


/*--------------------
	Container 
--------------------*/
@media only screen and (min-width: 993px) {
	.container {
	    width: 80%;
	}
}


/*--------------------
	Parallax 
---------------------*/
.parallax-container {
	min-height: 500px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		transform: translateY(-50%);
	}
	/*#index-banner .section {
		top: 10%;
	}*/
}

/*@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}*/


.parallax-container.pad {
	padding: 10vw 0;
}
.parallax-container .parallax {
    z-index: -2;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(3,19,33,0.4);
}


/*-------------------
	Icons 
---------------------*/
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/* Images */
img {
	height: auto;
	vertical-align: middle;
}

/*------------------------------------
	
	Navigation & Logo
	
------------------------------------*/

nav .brand-logo {
    width: 180px;
}
nav .brand-logo img {
	max-width: 100%;
}

nav ul a {
	text-transform: uppercase;
}


/*------------------------------------
	
	Sections
	
------------------------------------*/

.container.pad {
	padding: 6vw 0;
}
.container.pad-top {
	padding-top: 6vw;
}
.container.pad-bottom {
	padding-bottom: 6vw;
}


/* change outdated font size defaults in materialize theme */
 
.main-content p {
	font-weight: 300;
}
@media only screen and (min-width: 0) {
	.main-content p {
		font-size: 17px;
	}
}
@media only screen and (min-width: 992px) {
	.main-content p {
    	font-size: 17px;
    }
}
@media only screen and (min-width: 1200px) {
	.main-content p {
    	font-size: 19px;
    }
}


/*------------------------------------
	
	HERO section
	
-------------------------------------*/

.section-hero h5.header {
    margin: 0 0 25px;
}



/*------------------------------------
	
	AI Section
	
------------------------------------*/

.section-ai h2 {
	text-align: center;
}
.section-ai img {
    width: 100%;
    margin-top: 20px;
}


/*------------------------------------
	
	Solutions Section
	
------------------------------------*/

.section-solutions .icon-block h2 {
    font-size: 6em;
    line-height: .5;
}


/*------------------------------------
	
	About section
	
------------------------------------*/

@media only screen and (max-width: 992px) {
	.parallax-container.about {
    	min-height: 600px;
    }
}

/*------------------------------------
	
	FOOTER
	
------------------------------------*/

.footer-copyright {
    font-size: 13px;
    font-weight: 300;
    background-color: transparent;
}

.page-footer {
	background-color: #193755;
	padding: 2vw 0;
}
.page-footer a {
	color: #90caf9;
}