/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 
/*------------------------------------
	
	General stuff
	
------------------------------------*/

html {
	color: rgba(0,0,0,0.7);
}

nav ul a,
nav .brand-logo {
  color: #777;
}

p {
  line-height: 2em;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*------------------------------------
	
	Navigation
	
------------------------------------*/

nav .brand-logo {
    width: 180px;
}


/*------------------------------------
	
	Sections
	
------------------------------------*/

.container.pad {
	padding: 4vw 0;
}
.container.pad-top {
	padding-top: 4vw;
}
.container.pad-bottom {
	padding-bottom: 4vw;
}


/* change outdated font size defaults in materialize theme */
 

@media only screen and (min-width: 0) {
	.main-content p {
		font-size: 17px;
		font
	}
}
@media only screen and (min-width: 992px) {
	.main-content p {
    	font-size: 17px;
    }
}
@media only screen and (min-width: 1200px) {
	.main-content p {
    	font-size: 19px;
    }
}

/*------------------------------------
	
	Section 2 
	
------------------------------------*/

h2.section-title {
	text-align: center;
}



/*------------------------------------
	
	Parallax sections
	
-----------------------------------*/
.parallax-container .parallax {
    z-index: -2;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,0.3);
}
